/* 언어설정 */
@charset 'UTF-8';

/* 웹폰트설정 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/* 전체설정 */
*{margin: 0; padding: 0;}

body {font-family: 'Nanum Gothic', sans-serif;}

#wrap{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;}

ul {list-style: none;}

a {color: #000;
text-decoration: none;}


img {vertical-align: top;}

/* 바탕화면 */
.ghibli {width: 100%;
        display: block;}

/* 내부영역설정 */
body {overflow-x: hidden;}
#wrap section {box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;}


/* 인포메이션영역 */
.info_section {position: absolute;
                width: auto;
                top: 30px;
                right: 50px;
                z-index: 50;
        background-color: rgb(9, 243, 153);}
.info_list {display: flex;}
.info_list>li {width: auto;}
.info_list>li>a {display: block;
                padding: 10px;
                color: #fff;
                font-size: 20px;}



/* 토글버튼 */
.sub_menu_toggle_btn {display: none;}
.menu_toggle_btn {display: none;}



/* 헤더영역 */
.header {display: flex;
        width: 100%;
        position: relative;
        justify-content: flex-end;}

.header>h1 {background-color: rgb(9, 243, 153);
            width: 15%;
            height: 140px;
            position: absolute;
            left: 0;
            top: 0;
        font-size: 24px;
        text-align: center;
        border-bottom-right-radius: 30%;}

.logo>a {display: block;
        
        padding: 55px 0;
        color: #000;}

.header>nav {background-color: rgb(9, 243, 153);
            width: 85%;
            height: 100px;
        align-items: center;}
        
.gnb {display: flex;}
.gnb>li {width: auto;}
.gnb>li>a {display: block;
        font-size: 20px;
        padding: 35px 50px;
        color: #000;}
.gnb>li>a:hover {font-weight: bold;}

/* 슬라이더영역 */
.slider_section {background-color: rgb(232, 193, 255);
                width: 50%;
                height: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;}
.slider_section>span {width: 35px;
                height: 40px;
                cursor: pointer;
                text-indent: -9999px;
                background-repeat: no-repeat;}
span.prev_btn {background-image: url(../img/slider_arrow.png);
                margin: -10px;
                background-position: top left;}
span.next_btn {background-image: url(../img/slider_arrow.png);
                margin: -10px;
                background-position: top right;}
.slider_section>img {width: 50%;
                height: 300px;}

/* 갤러리영역 */
.gallery_section {background-color: rgb(238, 180, 20);
                width: 25%;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                }
.gallery_list {display: flex;
                flex-wrap: wrap;
                flex-direction: column;}
.gallery_list>li {width: 200px;
                height: auto;
                padding: 10px;
                transition: all 0.3s;}
.gallery_list>li>a {display: block;}
.gallery_list figure {text-align: center;
                        }
.gallery_list img {width: 100%;
                height: 150px;
                }
.gallery_list figcaption {margin-top: 10px;
                        }

.gallery_list li:hover {transform: scale(1.1);
                        font-weight: bold;}


/* 인기검색어 영역 */
.rankup_section {background-color: rgb(188, 158, 245);
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;}
.rankup_section .title {
        margin-bottom: 40px;
        font-size: 25px;
        text-align: center;
        color: #000;}
.rankup_section>ul>li>a {display: block;
                        padding: 10px;
                        font-size: 20px;
                        font-weight: bold;}

.rankup_section .title::after {content: "( 2022년 12월 Update )";
                                display: block;
                                font-size: 16px;
                                font-weight: normal;}
.rankup_section li a:hover {color: #fff;
                        text-decoration: underline;}

/* 최신글영역 */
.latest_post_section {background-color: rgb(120, 190, 247);
                    width: 30%;
                    height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;}
.latest_post_section .title {
        margin-bottom: 40px;
        font-size: 25px;
        text-align: center;
        color: #000;}
.latest_post_list li a {display: block;
        padding: 10px;
        font-size: 18px;
        color: #000;
        font-weight: bold;}

.latest_post_list li a:hover {color: #fff;
                        text-decoration: underline;}

/* 인기글영역 */
.popular_post_section {background-color: rgb(75, 149, 247);
                    width: 30%;
                    height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;}
.popular_post_section .title {margin-bottom: 40px;
                        font-size: 25px;
                        text-align: center;
                        color: #000;}
.popular_post_list li a {display: block;
                        padding: 10px;
                        font-size: 18px;
                        font-weight: bold;}
                
.popular_post_list li a:hover {color: #fff;
                text-decoration: underline;}

/* 배너영역 */
.banner_section {width: 20%;
                display: flex;
            flex-direction: column;}
.banner_section>div {flex: 1;}
.banner_box_01 {background-color: rgb(80, 128, 218);}
.banner_box_01 li a {display: block;}
.banner_box_01 li a i {font-size: 70px;
                        display: flex;
                        justify-content: center;
                        margin: 60px 0;}
.banner_box_02 {background-color: rgb(62, 107, 190);
                display: flex;
                justify-content: center;
                align-items: center;}
.banner_box_02 .banner_list {display: flex;}
.banner_list li a {display: block;
                width: 50px;
                padding: 0 10px;}


/* SNS영역 */
.social_section {width: 20%;
                background-color: rgb(83, 112, 185);}
.social_section>ul {display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                padding-top: 100px;}
.social_section>ul>li {padding: 10px;}
.social_section>ul>li>a {display: block;}
.social_section>ul>li>a>i {display: flex;
                width: 55px; height: 55px;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 50%;}

.social_section ul li:nth-child(1) a i {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#833ab4+0,e1306c+30,f56040+65,ffdc80+100 */
        background: #833ab4; /* Old browsers */
        background: -moz-linear-gradient(left,  #833ab4 0%, #e1306c 30%, #f56040 65%, #ffdc80 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #833ab4 0%,#e1306c 30%,#f56040 65%,#ffdc80 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #833ab4 0%,#e1306c 30%,#f56040 65%,#ffdc80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#833ab4', endColorstr='#ffdc80',GradientType=1 ); /* IE6-9 */
        }
.social_section ul li:nth-child(2) a i {background-color: #ffd900; color: #000;}
.social_section ul li:nth-child(3) a i {background-color: #ff0000;}


/* 푸터영역 */
footer {width: 100%;
        background-color: #474747;
        height: 100px;}
.footer p {font-size: 14px;
        font-weight: bold;
        color: #fff;
        padding: 30px 20px;
        letter-spacing: 2px;}

/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 헤더영역 */
.header {order: 1;}
/* 슬라이더영역 */
.slider_section {order: 2;}
/* 갤러리영역 */
.gallery_section {order: 3;}
/* 인기검색어영역 */
.rankup_section {order: 4;}

/* 최신글영역 */
.latest_post_section {order: 5;}

/* 인기글영역 */
.popular_post_section {order: 6;}
/* 배너색션 */
.banner_section {order: 7;}
/* sns섹션 */
.social_section {order: 8;}
/* 푸터영역 */
.footer {order: 9;}

/* 미디어쿼리구간@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* 모바일구간 767px 이하일때 */
@media (max-width:767px){

#wrap {display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;}

/* 인포메이션영역 */
.info_section {position: relative;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 50;
background-color: green;}

.info_list {display: flex;
        width: 100%;}
.info_list>li {width: 25%;}
.info_list>li>a {display: block;
        padding: 10px;
        color: #fff;
        font-size: 20px;
        text-align: center;}

/* 헤더영역 */
.header {width: 100%;
        flex-wrap: wrap;}

.header>h1 {background-color: rgb(9, 243, 153);
            width: 100%;
            height: 100px;
            position: absolute;
            left: 0;
            top: 0;
        font-size: 24px;
        text-align: center;
        z-index: 10;}

.logo>a {display: block;
        padding: 80px 0;
        color: #000;}

.header>nav {background-color: rgb(9, 243, 153);
            width: 100%;
            display: flex;
        align-items: center;
        position: relative;}
        
.gnb {display: none;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 100px;
        right: -60%;
        width: 100%;}
.gnb>li {width: 40%;
        display: flex;
        position: relative;}
.gnb>li>a {display: block;
        font-size: 20px;
        padding: 35px 50px;
        color: #000;}


/* 토글버튼 */
.sub_menu_toggle_btn {display: block;
        background-image: url(../img/sub_menu_toggle_btn.png); 
          width: 20px;
          height: 20px;
      background-repeat: no-repeat;
      text-indent: -9999px;
  padding: 20px 0;
background-size: contain;
position: absolute; 
top: 20px;
right: 20px;
}
.menu_toggle_btn {display: block;
      position: absolute;
  z-index: 60;
top:80px;
right: 50px;
background-image: url(../img/menu_toggle_btn.png);
width:30px ;
height: 30px;
background-repeat: no-repeat;
text-indent: -9999px;}

/* 슬라이더영역 */
.slider_section {width: 100%;
                height: 440px;}

/* 갤러리영역 */
.gallery_section {width: 100%;}

/* 인기검색어영역 */
.rankup_section {width: 100%;}

/* 최근글영역 */
.latest_post_section {width: 100%;}

/* 인기글영역 */
.popular_post_section {width: 100%;}

/* 배너영역 */
.banner_section {width: 100%;}

/* sns영역 */
.social_section {width: 100%;}



}





/* 태블릿구간 768px 이상 1139px 이하 */
@media (min-width:768px) and (max-width:1139px){

/* 인포메이션영역 */
.info_section {position: relative;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 50;
background-color: #2ecc71;}

.info_list {display: flex;
        width: 100%;}
.info_list>li {width: 25%;}
.info_list>li>a {display: block;
        padding: 10px;
        color: #fff;
        font-size: 20px;
        text-align: center;}

/* 헤더영역 */
.header {flex-wrap: wrap;
        width: 100%;
        }

.header>h1 {background-color: rgb(9, 243, 153);
            width: 15%;
            height: 150px;
            z-index: 30;
            position: absolute;
            left: 0;
            top: 30px;
        font-size: 24px;
        text-align: center;
        line-height: 1.3;}

.logo>a {display: block;
        padding: 55px 0;
        color: #000;}

.header>nav {background-color: rgb(9, 243, 153);
            width: 85%;
            display: flex;
            position: relative;
        align-items: center;}
        
.gnb {display: none;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 80px;
        right: -60%;
        width: 100%;}
.gnb>li {width: 40%;
        background-color: #2c3e50;
        display: flex;
        position: relative;}
.gnb>li>a {display: block;
        font-size: 20px;
        padding: 25px 20px;
        color: #fff;
        }

/* 토글버튼 */
.sub_menu_toggle_btn {display: block;
                background-image: url(../img/sub_menu_toggle_btn.png);
                width: 20px;
                height: 20px;
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 20px 0;
        background-size: contain;
        position: absolute;
        top: 35px;
        right: 20px;}
.menu_toggle_btn {display: block;
                position: absolute;
                z-index: 60;
                top: 80px;
                right: 40px;
        background-image: url(../img/menu_toggle_btn.png);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        text-indent: -9999px;}

/* 슬라이더영역 */
.slider_section {width: 60%;}

/* 갤러리영역 */
.gallery_section {width: 70%;}

/* 인기검색어 영역 */
.rankup_section {width: 40%;}

/* 최근글영역 */
.latest_post_section {width: 40%;}

/* 인기글영역 */
.popular_post_section {width: 40%;}

/* SNS영역 */
.social_section {width: 20%;}

/* 배너영역 */
.banner_section {width: 30%;}







/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 헤더영역 */
.header {order: 1;}
/* 슬라이더영역 */
.slider_section {order: 2;}
/* 갤러리영역 */
.gallery_section {order: 7;}
/* 인기검색어영역 */
.rankup_section {order: 3;}

/* 최신글영역 */
.latest_post_section {order: 4;}

/* 인기글영역 */
.popular_post_section {order: 5;}
/* 배너색션 */
.banner_section {order: 8;}
/* sns섹션 */
.social_section {order: 6;}
/* 푸터영역 */
.footer {order: 9;}


}


/* 웹구간 1140px */
@media (min-width:1140px){}